#.gitignore

#Project-Specific
*.JPG

#OS-Specific (filesys management)
.DS_Store

#Testing
t
real_data/*/18*/*.csv
real_data/*/*.csv
real_data/*/all
PvR*.csv
new*
.tmp*
testdata*

#Python Misc
__pycache__