#.gitignore

#Project-Specific
*.JPG

#OS-Specific (filesys management)
.DS_Store

#Testing
t
exp/*
real_data/*/*/output_roc.png
real_data/*/*/*.bat
real_data/*/*/computed*.csv
real_data/*/*/truth*.csv
real_data/*/*.csv
real_data/*/*.bat
real_data/*/*/output_roc.txt
real_data/*/*/output_score_tracks.txt
PvR*.csv
new*
.tmp*
testdata*

#Python Misc
__pycache__